<app-navbar></app-navbar>
<div *ngIf="fineData">
    <p><strong>First Name:</strong>{{ fineData.firstname }}</p>
    <p><strong>Last Name:</strong>{{ fineData.lastname }}</p>
    <p><strong>Date:</strong>{{ fineData.date }}</p>
    <p><strong>Time:</strong>{{ fineData.time }}</p>
    <p><strong>Reason:</strong>{{fineData.reason}}</p>
    <p><strong>Price:</strong>{{fineData.price}} лв.</p>
    <p><strong>Issuer:</strong>{{fineData.issuer}}</p>
    <div class="images">
        <h4>Evidence photos:</h4>
    <img [src]="imageUrl" *ngFor="let imageUrl of fineData.image" width="400px" height="400px">
    </div>
</div>

<form class="modify_form" [formGroup]="modify" (ngSubmit)="onSubmit()">
    <h4>Edit information:</h4>
    <label for="firstname">Firstname</label>
    <input type="text"  formControlName="firstname">
    <label for="lastname">Lastname</label>
    <input type="text"  formControlName="lastname">
    <label for="price">Price: </label>
    <input type="text"  formControlName="price">
    <button type="submit">Save</button>
</form>