<app-navbar></app-navbar>
<p>User: {{this.user?.displayName}}</p>
<img id="profile_img" [src]="this.authService.currentlySignedInUserAvatarURL" width="400px" height="400px" >
<p>{{this.user?.phoneNumber}}</p>
<p>{{this.user?.email}}</p>
<h3>Last issued fines by you</h3>
<div class="container-item">
<ul *ngFor="let fine of lastFines">
    <div class="fine">
    <li>Firstname:{{fine.firstname}}</li>
    <li>Lastname:{{fine.lastname}}</li>
    <li>Date: {{fine.date}}</li>
    <li>Time: {{fine.time}}</li>
    <li>Reason: {{fine.reason}}</li>
    <li>Date: {{fine.timestamp.toDate()}}</li>
    </div>
</ul>
</div>